@using CarRepairGarage.Web.ViewModels.Appointment;
@model AppointmentsListViewModel

@{
    this.ViewData["Title"] = "Default";
}

<div class="container">
    <div class="row">
        @foreach (var appointment in Model.Appointments)
        {
            @if (appointment.IsApproved == null)
            {
                @await Html.PartialAsync("_AppointmentCard", appointment)
            }
        }
    </div>
</div>

<partial name="_VinScrypt" />

<script>
    function confirmDelete() {
        return confirm("Are you sure you want to delete this element?");
    }
</script>

