<ul class="navbar-nav flex-grow-1">
    <li class="nav-link">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-link">
        <a class="nav-link text-dark" asp-area="" asp-controller="Garage" asp-action="Index">Garages</a>
    </li>
    <li class="nav-link">
        <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index">Categories</a>
    </li>
    <li class="nav-link">
        <a class="nav-link text-dark" asp-area="" asp-controller="Service" asp-action="Index">Services</a>
    </li>
    <li class="nav-link">
        <a class="nav-link text-dark" asp-area="" asp-controller="Appointment" asp-action="Index">Schedule Service</a>
    </li>
</ul>
