<ul class="navbar-nav flex-grow-1">
    <li class="nav-link">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
    </li>
    <li class="nav-link">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Service" asp-action="Index">Services</a>
    </li>
    <li class="nav-link">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Category" asp-action="Index">Categories</a>
    </li>
    <li class="nav-link">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Garage" asp-action="Index">Garages</a>
    </li>
    <li class="nav-link">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Car" asp-action="Index">Cars</a>
    </li>
    <li class="nav-link">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="Appointment" asp-action="Index">Appointments</a>
    </li>
    <li class="nav-link">
        <a class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="Index">Registered Users</a>
    </li>
</ul>
