@{
    ViewData["Title"] = "Error";
}
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">Error</h1>
        <p class="fs-3"> An error occurred while processing your request.</p>
        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Go Home</a>
    </div>
</div>