<script>
    $(document).ready(function () {
        $('.vin').click(function () {
            var vin = $(this).text();
            var vinDetailsDiv = $(this).parent().next('.vin-details');
            var that = $(this);
            if (vinDetailsDiv.length > 0) {
                vinDetailsDiv.slideToggle();
            } else {
                $.getJSON('https://vpic.nhtsa.dot.gov/api/vehicles/decodevinvalues/' + vin + '?format=json')
                    .done(function (data) {
                        if (data.Results[0].ErrorCode == "0") {
                            $('<p class="vin-details">Make: ' + data.Results[0].Make
                                + ', Model: ' + data.Results[0].Model
                                + ', Year: ' + data.Results[0].ModelYear
                                + ', Fuel: ' + data.Results[0].FuelTypePrimary
                                + ', CC: ' + data.Results[0].DisplacementCC
                                + ', Cylinders: ' + data.Results[0].EngineCylinders
                                + ', HP: ' + data.Results[0].EngineHP
                                + '</p>')
                                .hide().insertAfter(that.parent()).slideDown();
                        } else {
                            $('<p class="vin-details">Error getting vehicle details: ' + data.Results[0].ErrorText + '</p>').hide().insertAfter(that.parent()).slideDown();
                        }
                    })
                    .fail(function () {
                        $('<p class="vin-details">Error getting vehicle details</p>').hide().insertAfter(that.parent()).slideDown();
                    });
            }
        });
    });
</script>