@using CarRepairGarage.Web.ViewModels.Garage;
@using CarRepairGarage.Web.ViewModels.Pagination;
@model IEnumerable<GarageViewModel>

@{
    ViewData["Title"] = "Garage Details Page";
}

<div class="container">
    @foreach (var garage in Model)
    {
        <div class="container">
            <div class="row">
                @await Html.PartialAsync("_GarageCard", garage)
            </div>
        </div>
        <div>
            @await Component.InvokeAsync("AllAppointmentsByGarage", garage.Id)
        </div>
    }
</div>

@if (ViewBag.TotalPages > 1)
{
    <div class="mt-4">
        @await Html.PartialAsync("_Pagination", new PaginationViewModel
    {
    CurrentPage = ViewBag.CurrentPage,
    TotalPages = ViewBag.TotalPages,
    Area = "Manager",
    Controller = "Dashboard",
    Action = "All"
    })
    </div>
}
<script>
    function confirmDelete() {
        return confirm("Are you sure you want to delete this element?");
    }
</script>
