@using CarRepairGarage.Web.ViewModels.Garage;
@using CarRepairGarage.Web.ViewModels.Pagination;
@model IEnumerable<GarageViewModel>

@{
    ViewData["Title"] = "Garage Details Page";
}
@if (Model.Count() == 0)
{
    <p>You do not have any Garages. Please register a new Garage!</p>
}
<div class="container">
    @foreach (var garage in Model)
    {
        <div class="container">
            <div class="row">
                @await Html.PartialAsync("_GarageCard", garage)
            </div>
        </div>
        <div>
            @await Component.InvokeAsync("AllAppointmentsByGarage", garage.Id)
        </div>
    }
</div>

@if (ViewBag.TotalPages > 1)
{
    <div class="mt-4">
        @await Html.PartialAsync("_Pagination", new PaginationViewModel
    {
    CurrentPage = ViewBag.CurrentPage,
    TotalPages = ViewBag.TotalPages,
    Area = "Manager",
    Controller = "Dashboard",
    Action = "All"
    })
    </div>
}
<partial name="~/Views/Shared/_DeleteConfirmPartial.cshtml" />
